.dots ul {
  list-style: none;
  padding-left: o;
}
.dots ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 0 10px;
}
.dots ul li.active {
  background-color: red;
}
img{
  max-width: 500px;
}